
:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
  .btn-color{
    background-color: #0e1c36;
    color: #fff;

  }

  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }



  .cardbody-color{
    background-color: #ebf2fa;
  }

  a{
    text-decoration: none;
  }
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;

    form {
      .mat-form-field {
        width: 100%;
        min-width: 500px;
      }

      .error {
        padding: 0px;
        width: 100%;
        color: white;
        background-color: red;
      }

      .button {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

