<div class="box">
  <div class="box__ghost">
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>
    <div class="symbol"></div>

    <div class="box__ghost-container">
      <div class="box__ghost-eyes">
        <div class="box__eye-left"></div>
        <div class="box__eye-right"></div>
      </div>
      <div class="box__ghost-bottom">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="box__ghost-shadow"></div>
  </div>

  <div class="box__description">
    <div class="box__description-container">
      <div class="box__description-title">404 ERROR</div>
      <div class="box__description-text">Page not found,<p style="margin-top:10px">Please go to homepage!</p></div>
    </div>

    <a routerLink="/home" class="box__button">GO TO HOMEPAGE</a>

  </div>

</div>
