<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card my-6">
        <form class="card-body cardbody-color p-lg-5">
          <div class="text-center">
            <img
              src="../../../assets/images/ProCon_Logo-blue.png"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px"
              alt="profile"
            />
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="Username"
                placeholder="Email"
                formControlName="email"
              />
              <mat-error
                *ngIf="
                  this.registerForm.get('email')?.touched &&
                  this.registerForm.get('email')?.hasError('required')
                "
              >
                Email is required</mat-error
              >
              <mat-error
                *ngIf="
                  this.registerForm.get('email')?.touched &&
                  this.registerForm.get('email')?.hasError('email')
                "
              >
                Email must be a valid Email</mat-error
              >
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="Username"
                aria-describedby="emailHelp"
                placeholder="Username"
                formControlName="username"
              />
              <mat-error
                *ngIf="
                  this.registerForm.get('username')?.touched &&
                  this.registerForm.get('username')?.hasError('required')
                "
              >
                Username is required</mat-error
              >
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                formControlName="password"
                required
                minlength="8"
              />
              <mat-error
                *ngIf="
                  this.registerForm.get('password')?.touched &&
                  this.registerForm.get('password')?.hasError('required')
                "
              >
                Password is required</mat-error
              >
              <mat-error
                *ngIf="
                  this.registerForm.get('password')?.touched &&
                  this.registerForm.get('password')?.hasError('required')
                "
              >
                Password is required</mat-error
              >
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password Confirmation"
                formControlName="passwordConfirm"
              />
              <mat-error
                *ngIf="
                  this.registerForm.get('passwordConfirm')?.touched &&
                  this.registerForm.get('passwordConfirm')?.hasError('required')
                "
              >
                Password Confirmation is required</mat-error
              >
              <mat-error
                *ngIf="
                  this.registerForm.get('passwordConfirm')?.dirty &&
                  this.registerForm.hasError('passwordsNotMatching')
                "
              >
                Passwords are not matching!</mat-error
              >
            </div>
            <!-- <div class="mb-6">
                <mat-card-content>
                    <mat-form-field>
                      <input type="email" matInput placeholder="Email" formControlName="email">
                      // Here we can display error messages/hints for the user, if one of the Validators adds an error to the email
                     // with the .touched check we only display the hints if the input was touched by the users
                      <mat-error
                        *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('required')">
                        Email is required</mat-error>
                      <mat-error
                        *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('email')">
                        Email must be a valid Email</mat-error>
                    </mat-form-field>
                  </mat-card-content>
              </div>
              <div class="mb-6">
                <mat-card-content>
                    <mat-form-field>
                      <input type="text" matInput placeholder="Username" formControlName="username">
                      <mat-error
                        *ngIf="this.registerForm.get('username')?.touched && this.registerForm.get('username')?.hasError('required')">
                        Username is required</mat-error>
                    </mat-form-field>
                </mat-card-content>
            </div>

            <div class="mb-6">
              <mat-card-content >
                  <mat-form-field style="width: 535px;">
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-error
                      *ngIf="this.registerForm.get('password')?.touched && this.registerForm.get('password')?.hasError('required')">
                      Password is required</mat-error>
                  </mat-form-field>
              </mat-card-content>
            </div>
            <div class="mb-6">
              <mat-card-content>
                  <mat-form-field style="width: 535px;" class="abc">
                    <input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm">
                    <mat-error
                      *ngIf="this.registerForm.get('passwordConfirm')?.touched && this.registerForm.get('passwordConfirm')?.hasError('required')">
                      Password Confirmation is required</mat-error>
                  </mat-form-field>
                  <mat-error
                    *ngIf="this.registerForm.get('passwordConfirm')?.dirty && this.registerForm.hasError('passwordsNotMatching')">
                    Passwords are not matching!</mat-error>
              </mat-card-content>
            </div>-->
            <div class="button">
              <button
                type="submit"
                [disabled]="!registerForm.valid"
                class="btn btn-color px-5 mb-5 w-100"
              >
                Register
              </button>
            </div>
            <div id="emailHelp" class="form-text text-center mb-5 text-dark">
              Have an account?<a
                routerLink="/login"
                class="text-dark fw-bold"
              >
                Login</a
              >
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
  <!--<div>
  <a [routerLink]="['../login']">Go to Login</a>
  <mat-card>
    <mat-card-title>Register</mat-card-title>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="register()">

        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">

          <mat-error
            *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('required')">
            Email is required</mat-error>
          <mat-error
            *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('email')">
            Email must be a valid Email</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
          <mat-error
            *ngIf="this.registerForm.get('username')?.touched && this.registerForm.get('username')?.hasError('required')">
            Username is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="First Name" formControlName="firstname">
          <mat-error
            *ngIf="this.registerForm.get('firstname')?.touched && this.registerForm.get('firstname')?.hasError('required')">
            First Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Last Name" formControlName="lastname">
          <mat-error
            *ngIf="this.registerForm.get('lastname')?.touched && this.registerForm.get('lastname')?.hasError('required')">
            Last Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error
            *ngIf="this.registerForm.get('password')?.touched && this.registerForm.get('password')?.hasError('required')">
            Password is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm">
          <mat-error
            *ngIf="this.registerForm.get('passwordConfirm')?.touched && this.registerForm.get('passwordConfirm')?.hasError('required')">
            Password Confirmation is required</mat-error>
        </mat-form-field>

        <mat-error
          *ngIf="this.registerForm.get('passwordConfirm')?.dirty && this.registerForm.hasError('passwordsNotMatching')">
          Passwords are not matching!</mat-error>

        <div class="button">
          <button type="submit"  [disabled]="!registerForm.valid">Register</button>
        </div>

      </form>
    </mat-card-content>

  </mat-card>
</div>
--></div>
